body{
    padding: 100px;
}
.navbar {
    width: 100%;
}
.container {
    margin: 20px;
}
.bootstrap {
    background-color: red;
    height: 50px;
    margin: 5px;
    
}
.row {
    background-color: green;
    height: 60px;
    margin: 5px;
}